body {
  background: #f0f2f5;
  font-family: Arial, sans-serif;
}

.container {
  width: 350px;
  margin: 100px auto;
  padding: 25px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

/* LOGO STYLE */
.logo {
  width: 90px;
  margin-bottom: 10px;
}

.warning {
  color: red;
  font-size: 13px;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #1877f2;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #145dbf;
}

.note {
  font-size: 12px;
  margin-top: 10px;
  color: gray;
}
.or-separator {
  display: flex;
  align-items: center;
  margin: 20px 0 15px;
  color: #999;
  font-size: 13px;
}

.or-separator::before,
.or-separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ddd;
}

.or-separator span {
  margin: 0 10px;
}

.signup-text {
  font-size: 13px;
  color: #555;
}

.signup-link {
  color: #1877f2;
  text-decoration: none;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}
